# Swagger Authentication
APP_SECURITY_USER_NAME=admin
APP_SECURITY_USER_PASSWORD=secre$#@(#($*_YourValueMore
APP_SECURITY_USER_ROLES=USER
# Set false for local dev, true for staging 
SWAGGER_AUTH_REQUIRED=false

# True or empty to enable
RESTART_ENABLED=false
LIVERELOAD_ENABLED=false

NVD_API_KEY=aa-{bitcoin-_YourValueMore}-d19f